//import font
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

//breakpoints
$grid-breakpoints: (
  sm: 0,
  md: 769px,
  lg: 1171px
);

//containers width
$container-max-widths: (
  sm: 400px,
  md: 970px,
  lg: 1170px
);

//import bootstrap
@import "~bootstrap/scss/bootstrap";

//import custom styles
@import "includes/custom";
